body {
  font-size: 18px;
  margin: 20px;
}

h1 {
  font-size: 1.7rem;
}

h2 {
  font-size: 1.4rem;
}

img {
    max-width: 100%;
    
}

figure {
    margin: 20px 0;
}

@media screen and (min-width: 800px) {
  body {
    background: beige;
    margin: 25px 6%;
  }

  figure {
    float: left;
    width: 45%;
    margin-right: 4.5%;
  }
}

@media screen and (min-width: 1200px) {
  body {
    background: pink;
    margin: 25px 10%;
    max-width: 1130px;
  }

  figure {
    width: 30%;
    margin-right: 2.5%;
  }
}